@page "/Debt"
@rendermode InteractiveServer

<h3>Debt</h3>
<input class="input-field" type="text" @bind="_amount" placeholder="Debt" required>
<input class="input-field" type="date" @bind="_date" placeholder="date" required>
<input class="input-field" type="text" @bind="_source" placeholder="source" required>

<select @bind="_tag">
	@for (int i = 0; i < Current_Account._tags.Count; i++)
	{
		<option value="@i">@Current_Account._tags[i]._tags</option>
	}
</select>
<input class="input-field" type="text" @bind="_note" placeholder="note">

<button class="submit-btn" @onclick="OnClick" type="submit">Add Debt</button>

@if (!string.IsNullOrEmpty(_message))
{
	<div class="message">@_message</div>
}

@code {
	public int _amount;
	public DateOnly _date;
	public string _source;
	public bool success;
	public string _status = "Pending";
	public int _tag;
	public string _note;

	string _message;

	public void OnClick()
	{
		success = Current_Account._currentAccount.History(new Transaction(_amount, _status, _source, _date, _tag+1, _note));
		if (success)
		{
			_message = "Added Successfully";
		} else
		{
			_message = "Cannot Add";
		}
		Current_Account.DebtHistoryExtraction();
		Current_Account._currentAccount.UpdateBalance();
		Current_Account.DatabaseExtraction();
	}
}
