@page "/MyPage"
@rendermode InteractiveServer

<p role="status">name: @ac._name</p>
<p role="status">balance: @ac._balance</p>

<p>eta achadyo vanni no going back hai :3</p>

<div>
    <label for="nameInput">Enter your name:</label>
    <input id="nameInput" type="text" @bind="ac._name" class="form-control" />
</div>

<div>
    <label for="balanceInput">Enter your balance:</label>
    <input id="balanceInput" type="number" @bind="ac._balance" class="form-control" />
</div>

<button class="btn btn-primary" @onclick="OnClick">Set Name and Balance</button>

<button class="btn btn-primary" @onclick="DecreaseMoney">Mommy Le Paisa Magyo</button>
<button class="btn btn-primary" @onclick="AddMoney">Prabal le paisa diyo cause im great</button>

@code {
    Finance_Handler ac = new Finance_Handler();

    public void OnClick()
    {
        StateHasChanged();
    }

    public void AddMoney()
    {
        ac._balance += 10000;
    }

    public void DecreaseMoney()
    {
        ac._balance -= 10000;
    }
}
