@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>SignUp</PageTitle>

<div class="signup-form">
	<h2>Sign Up</h2>
	<input class="input-field" type="text" @bind="_username" placeholder="Username" required>
	<input class="input-field" type="password" @bind="_password" placeholder="Password" required>
	<button class="submit-btn" @onclick="OnClick" type="submit">Sign Up</button>

	@if (!string.IsNullOrEmpty(_errorMessage))
	{
			<div class="error-message">@_errorMessage</div>
	}
</div>

@code 
{
	public string _username;
	public string _password;

	public string _errorMessage;

	public void OnClick()
	{
		if (string.Equals(_username, "Skybird") && string.Equals(_password, "123"))
		{
			LogIn.log = true;
			Current_Account._currentAccount = new Finance_Handler(_username, 10000);
			Navigation.NavigateTo("/Home");
			Initializer create_Table = new Initializer();
			create_Table.CheckDatabase();
			Current_Account.DatabaseExtraction();
			Console.WriteLine("xa");
			Current_Account.DebtHistoryExtraction();
			Console.WriteLine("xa1");

			Current_Account._currentAccount.UpdateBalance();
			Current_Account.Tags();
		}
		else
		{
			_errorMessage = "Incorrect username or password.";
		}
	}
}
